<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><ui:insert name="titulo">Calculador</ui:insert></title>
	<h:outputStylesheet library="css" name="estilo.css" />
	<h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css" />
	<h:outputStylesheet library="bootstrap/css"
		name="bootstrap-theme.min.css" />
	<h:outputScript library="bootstrap/js" name="bootstrap.min.js" />
	<h:outputScript library="jquery" name="jquery-1.9.1.min.js" />

</h:head>
<h:body>
	<div>
		<ui:insert name="nav_bar">

		</ui:insert>
	</div>
	<!-- 	<div id="loading"> -->
	<!-- 		<p:ajaxStatus> -->
	<!-- 			<f:facet name="start"> -->
	<!-- 				<h:graphicImage library="imagem" name="" /> imagem de loading das requisições ajax -->
	<!-- 			</f:facet> -->
	<!-- 			<f:facet name="complete"> -->
	<!-- 				<h:outputText value="" /> -->
	<!-- 			</f:facet> -->
	<!-- 		</p:ajaxStatus> -->
	<!-- 	</div> -->
		<div id="menu">
			<h:form>
				<p:menubar>
					<p:submenu label="Cadastros">
						<p:menuitem value="Alimentos"
							outcome="/admin/alimentos/CadastrarAlimentos" />
						<p:separator />
						<p:menuitem value="Nutriente"
							outcome="/admin/nutriente/CadastrarNutriente" />
						<p:separator />
						<p:menuitem value="Origem" outcome="/admin/Origem/CadastrarOrigem" />
					</p:submenu>

				</p:menubar>
			</h:form>
		</div>

	<div id="conteudo">
		<ui:insert name="corpo">
		</ui:insert>
	</div>

	<div id="footer"
		style="padding-top: 30px; margin-top: 90px; width: 100%; background-color: #EEEEEE;"
		role="footer">
		<ui:insert name="nav_footer">
			<ui:include src="footer.xhtml" />
		</ui:insert>
	</div>

</h:body>
</html>