<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
 
Name : Accomplishable
Description: A two-column, fixed-width design.
Version : 1.0
Released : 20090731
 
-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Calculador</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="./resources/css/style.css" rel="stylesheet" type="text/css"
		media="screen" />
</h:head>
<h:body>
	<h:outputStylesheet library="css" name="estilo.css" />
	<h:outputStylesheet library="css" name="style.css" />
	<p:ajaxStatus styleClass="ajax-status">
		<f:facet name="start">
			<h:graphicImage library="img" name="carregando.gif" />
		</f:facet>
		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>

	<header>
	<div style="float: left">
		<h:link outcome="/public/index">
			<h:graphicImage library="img" name="logo.png" />
		</h:link>
	</div>
	<div style="float: right; margin-right: 110px">
		<span
			style="float: left; height: 30px; line-height: 30px; margin-right: 60px">
			user : Administrador</span>
		<h:form style="display: inline-block">
			<p:menubar styleClass="menu-sistema">
				<p:submenu label="Alimento">
					<p:menuitem value="Cadastrar"
						outcome="/admin/alimentos/CadastrarAlimentos" />
					<p:separator />
					<p:menuitem value="Pesquisar"
						outcome="/admin/alimentos/PesquisarAlimentos" />

				</p:submenu>

				<p:submenu label="Nutriente">
					<p:menuitem value="Cadastrar"
						outcome="/admin/nutriente/CadastrarNutriente" />
					<p:separator />
					<p:menuitem value="Pesquisar"
						outcome="/admin/nutriente/PesquisarNutriente" />

				</p:submenu>
				
				<p:submenu label="Origem">
					<p:menuitem value="Cadastrar"
						outcome="/admin/Origem/CadastrarOrigem" />
					<p:separator />
					<p:menuitem value="Pesquisar"
						outcome="/admin/Origem/PesquisarOrigem" />

				</p:submenu>
				<p:menuitem value="Sair" />
			</p:menubar>

		</h:form>
	</div>
	<div style="clear: both"></div>
	</header>
	<div id="conteudo" style="">
		<ui:insert name="conteudo">

			<div class="post">
				<h2 class="title">About This Website</h2>
				<div class="entry"></div>
			</div>

		</ui:insert>
	</div>

	<div id="footer">
		<p>&copy;2015 - Calculador</p>
	</div>
</h:body>
</html>