<ui:composition template="/WEB-INF/template/novotemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<ui:define name="conteudo">
		<h:form>
			<div id="box"> 
			<h1>Conteudo principal</h1>
<!-- 				<div style="align: center;"> -->
<!-- 					<div class="block" id="block-login"> -->
<!-- 						<h2>Login Box</h2> -->
<!-- 						<div class="content login"> -->
<!-- 							<div class="flash"> -->
<!-- 								<div class="message notice"> -->
<!-- 									<p>Logged in successfully</p> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<form action="#" class="form login"> -->
<!-- 								<div class="group wat-cf"> -->
<!-- 									<div class="left"> -->
<!-- 										<label class="label right">Login</label> -->
<!-- 									</div> -->
<!-- 									<div class="right"> -->
<!-- 										<input type="text" class="text_field" /> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 								<div class="group wat-cf"> -->
<!-- 									<div class="left"> -->
<!-- 										<label class="label right">Password</label> -->
<!-- 									</div> -->
<!-- 									<div class="right"> -->
<!-- 										<input type="password" class="text_field" /> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 								<div class="group navform wat-cf"> -->
<!-- 									<div class="right"> -->
<!-- 										<button class="button" type="submit"> -->
<!-- 											<img src="images/icons/key.png" alt="Save" /> Login -->
<!-- 										</button> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</form> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
	</div>


		</h:form>
	</ui:define>
</ui:composition>
