<ui:composition template="/WEB-INF/template/novotemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:outputStylesheet library="css" name="estilo.css" />
	<!-- 	<ui:define name="titulo">Pesquisar Origens</ui:define> -->
	<ui:define name="conteudo">
		<h:form style="margin-left:6px;margin-right:6px;">
<!-- 			<h:outputStylesheet library="css" name="estilo.css" /> -->
<!-- 			<h:outputStylesheet library="css" name="style.css" /> -->

			<h1>Pesquisar Origens</h1>
			<p:toolbar>
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo" outcome="/admin/Origem/CadastrarOrigem" />
				</p:toolbarGroup>
			</p:toolbar>


			<br />

			<p:messages	 />

			<p:dataTable id="table_origem" value="#{origemBean.listar}"
				var="origem" style="margin-top:20px"
				emptyMessage="Nenhuma origem encontrada." rows="30" paginator="true"
				paginatorAlwaysVisible="false" paginatorPosition="bottom">
				<f:facet name="header">
         			 	Lista de origens
      			 </f:facet>
				<p:column headerText="Origem">
					<h:outputText value="#{origem.nome}" />
				</p:column>
				<p:column headerText="Alterar"
					styleClass="coluna_bt_alterar_excluir">
					<p:commandButton value="Alterar" icon="ui-icon-refresh"
						action="#{origemBean.editar}" process="@form" update="@form">
						<f:setPropertyActionListener target="#{origemBean.origem}"
							value="#{origem}" />
					</p:commandButton>
				</p:column>
				<p:column headerText="Excluir"
					styleClass="coluna_bt_alterar_excluir">
					<p:commandButton value="Excluir" icon="ui-icon-close"
						action="#{origemBean.excluir}" process="@form" update="@form">
						<f:setPropertyActionListener value="#{origem}"
							target="#{origemBean.origemSelecionado}" />
					</p:commandButton>
				</p:column>
				<f:facet name="footer">Origem cadastrados</f:facet>
			</p:dataTable>
		</h:form>
		<br/>
	</ui:define>
</ui:composition>