<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Calculador</title>

</h:head>
<h:body>
	<h:outputStylesheet library="stylesheets" name="base.css" />
	<h:outputStylesheet library="stylesheets"
		name="themes/default/style.css" />

	<div id="container">
		<div id="header">
			<h1>
				<a href="/public/index.jsf">Simulador Calculador</a>
			</h1>
			<div id="user-navigation">
				<ul class="wat-cf">
					<li><a href="#">Perfil</a></li>
					<!-- 					<li><a href="#">Configurações</a></li> -->
					<li><a class="logout" href="#{request.contextPath}/j_spring_security_logout">Sair</a></li>
				</ul>
			</div>

			<div id="main-navigation">

				<ul class="wat-cf">
					<!-- 					<li class="first"><a href="" >Inicio</a></li> -->
					<!-- 					<li class="first"><a href="#block-text">Alimento</a></li> -->
					<!-- 					<li class="first"><a href="#block-text">Nutriente</a></li> -->
					<!-- 					<li class="first"><a href="#block-text">Origem</a></li> -->
					<li><a href="#block-login">Login</a></li>
					<li><a href="#block-signup">Signup</a></li>

				</ul>
			</div>
		</div>
		<div id="wrapper" class="wat-cf">
			<div id="main">
				<p:menubar>
					<p:submenu label="Alimentos">
						<p:menuitem value="Cadastrar"
							outcome="/admin/alimentos/CadastrarAlimentos"></p:menuitem>
						<p:menuitem value="Listar"
							outcome="/admin/alimentos/PesquisarAlimentos"></p:menuitem>
					</p:submenu>
					<p:submenu label="Nutrientes">
						<p:menuitem value="Cadastrar"
							outcome="/admin/nutriente/CadastrarNutriente"></p:menuitem>
						<p:menuitem value="Listar"
							outcome="/admin/nutriente/PesquisarNutriente"></p:menuitem>
					</p:submenu>
					<p:submenu label="Origem">
						<p:menuitem value="Cadastrar"
							outcome="/admin/Origem/CadastrarOrigem"></p:menuitem>
						<p:menuitem value="Listar" outcome="/admin/Origem/PesquisarOrigem"></p:menuitem>
					</p:submenu>
				</p:menubar>

				<div class="block">
					<ui:insert name="conteudo">

						<h:outputLabel value="Conteudo template" />
					</ui:insert>


				</div>

				<div id="footer">
					<div class="block">
						<p>Copyright &copy; 2015 Simulador - IC .</p>
					</div>
				</div>
			</div>
			<div id="sidebar"></div>
		</div>
		<div id="box">


			<div class="block" id="block-signup">
				<h2>Cadastre-se</h2>
				<div class="content">
					<form action="#" class="form">

						<div class="group">
							<h:outputLabel value="Usuário" styleClass="label" for="nome" />
							<h:inputText id="nome" styleClass="text_field" required="true"
								requiredMessage="É nescessário informar um nome." />
							<span class="description">Ex: nome do usuário</span>
						</div>

						<div class="group">
							<h:outputLabel value="Endereço" styleClass="label" for="end" />
							<h:inputText id="end" styleClass="text_field" />
							<span class="description">Ex: Estado,Bairro,Rua,número</span>
						</div>

						<div class="group wat-cf">
							<div class="left">
								<h:outputLabel value="Data de nascimento" styleClass="label"
									for="dataNascimento" />
							</div>
							<div class="right">
								<p:calendar styleClass="text_field" id="dataNascimento" />
								<span class="description">Ex: 99/99/99</span>
							</div> 
						</div>

						<div class="group wat-cf">
							<div class="left">
								<h:outputLabel value="Telefone" styleClass="label"
									for="telefone" />
							</div>
							<div class="right">
								<p:inputMask styleClass="text_field" id="telefone" mask="(99) - 9999-9999" />
									<span class="description">Ex: (99) - 9999-9999</span>
							</div>
						</div>

						<div class="group wat-cf">
							<div class="left">
								<h:outputLabel value="Sexo" styleClass="label"
									for="sexo" />
							</div>
							<div class="right">
								<h:selectOneRadio id="sexo">
									<f:selectItem itemValue="M" itemLabel="Masculino"/>
									<f:selectItem itemValue="F" itemLabel="Feminino"/>
								</h:selectOneRadio>
							</div>
						</div>
						
							<div class="group wat-cf">
							<div class="left">
								<h:outputLabel value="CPF/CNPJ" styleClass="label"
									for="cpf" />
							</div>
							<div class="right">
								<p:inputMask id="cpf" styleClass="text_field" mask="999-999-999-99" />
								<span class="description">Digite o cpf ou o cpnj</span>
							</div>
						</div>


						<div class="group wat-cf">
							<div class="left">
								<h:outputLabel value="Login" styleClass="label" for="login" />
							</div>
							<div class="right">
								<h:inputText id="login" styleClass="text_field" />
								<span class="description">Ex: login do usuário</span>
							</div>
						</div>

						<div class="group wat-cf">
							<div class="left">
								<h:outputLabel value="Email" for="email" styleClass="label" />
							</div>
							<div class="right">
								<h:inputText id="email" styleClass="text_field" label="e-Mail"
									maxlength="50" required="true"
									requiredMessage="É nescessário informar um email."
									validatorMessage="email inválido">
									<f:validateRegex
										pattern="[a-zA-Z0-9\-\_\.]+@[a-zA-Z0-9\-\_\.]+" />
								</h:inputText>
								<span class="description">Ex: test@example.com</span>
								<h:message for="email" />
							</div>
						</div>

						<div class="group wat-cf">
							<div class="left">
								<p:outputLabel value="Senha" for="senha" styleClass="label" />
								<!-- 								<label class="label">Password</label> -->
							</div>
							<div class="right">
								<h:inputSecret id="senha" styleClass="text_field" />
								<span class="description">A senha deve conter digitos e
									números</span>
							</div>
						</div>

						<div class="group wat-cf">
							<div class="left">
								<p:outputLabel value="Confirmar Senha" for="csenha"
									styleClass="label" />
								<!-- 								<label class="label">Password</label> -->
							</div>
							<div class="right">
								<h:inputSecret id="csenha" styleClass="text_field" />
								<span class="description">Deve ser igual a senha</span>
							</div>
						</div>
						<p:separator />
						<br></br>
						<div class="group navform wat-cf">
							<button class="button" type="submit">
								<img src="../resources/images/icons/tick.png" alt="Save" />
								Cadastrar
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</h:body>
</html>