<ui:composition template="/WEB-INF/template/novotemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsf/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="titulo">Cadastrar Alimento</ui:define>

	<ui:define name="conteudo">
		<h:form style="margin-left:6px; margin-right:6px;">
			<h:outputStylesheet library="css" name="style.css" />
			<h:inputHidden value="{alimentoBean.alimento.id}" />
			<h1>Novo Alimento</h1>
			<p:toolbar style="margin-top:20px">
				<p:toolbarGroup>
					<p:button value="Novo" />
					<p:commandButton value="Cadastrar" update="@form"
						action="#{alimentoBean.salvar}" process="@form" ajax="false" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Cancelar" outcome="/restrito/index" />

					<p:separator />

					<p:button value="Pesquisa"
						outcome="/admin/alimentos/PesquisarAlimentos" />
				</p:toolbarGroup>
			</p:toolbar>


			<br />


			<h:panelGrid columns="2" style="margin-left : 6px;">
				<p:outputLabel value="Alimento" for="nome" />
				<p:inputText id="nome" value="#{alimentoBean.alimento.nome}"
					required="true"
					requiredMessage="É necessário informar o nome do alimento que deseja cadastrar."
					size="22" />


				<p:outputLabel value="Origem" />
				<p:selectOneMenu value="#{alimentoBean.alimento.origem}"
					required="true"
					requiredMessage="É necessário informar a origem do alimento" converter="entidadeConverter">//Conversor aqui!
					<f:selectItem itemLabel=" --Selecione uma origem -- " />
					<f:selectItems value="#{origemBean.listar}" var="o"
						itemLabel="#{o.nome}" itemValue="#{o}" />
				</p:selectOneMenu>



				<p:outputLabel value="Codigo" for="codigo" />
				<p:inputText id="codigo" value="#{alimentoBean.alimento.codigo}"
					required="true"
					requiredMessage="É necessário informar o código do alimento"
					size="22" />
			</h:panelGrid>
			<p:messages />
		</h:form>
		<br />
	</ui:define>
</ui:composition>