<ui:composition template="/WEB-INF/template/novotemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<!-- 	<ui:define name="titulo">Pesquisar Alimentos</ui:define> -->
	<ui:define name="conteudo">
		<h:form style="margin-left:6px; margin-right:6px;">
			<h:outputStylesheet library="css" name="estilo.css" />
			<h:outputStylesheet library="css" name="style.css" />
			<h1>Pesquisar Alimentos</h1>
			<p:toolbar style="margin-top:20px">
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar" process="@form" update="@form"
						action="#{alimentoBean.pesquisar}" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo"
						outcome="/admin/alimentos/CadastrarAlimentos" />
				</p:toolbarGroup>
			</p:toolbar>
			<br />
			<h:panelGrid id="painelPesquisa" columns="2">
				<p:outputLabel value="Código" for="codigo" />
				<p:inputText id="codigo"
					value="#{alimentoBean.alimentoFilter.codigo}" />

				<p:outputLabel value="Alimento" for="nome" />
				<p:inputText id="nome"
					value="#{alimentoBean.alimentoFilter.nome}" />
			</h:panelGrid>
			<p:messages />
			<p:dataTable id="table_alimento" value="#{alimentoBean.lista}"
				var="alimento" style="margin-top:20px"
				emptyMessage="Nenhum alimento encontrado." rows="50"
				paginator="true" paginatorAlwaysVisible="false"
				paginatorPosition="bottom">
				<f:facet name="header">
         			 	Lista de Alimentos 
      			 </f:facet>
				<p:column headerText="Código" style="width : 5%"
					sortBy="#{alimento.codigo}">
					<h:outputText value="#{alimento.codigo}" />
				</p:column>
				<p:column headerText="Alimento">
					<h:outputText value="#{alimento.nome}" />
				</p:column>
				<p:column headerText="Origem" styleClass="coluna_origem">
					<h:outputText value="#{alimento.origem.nome}" />
				</p:column>
				<p:column headerText="Associar" style="width : 10%">
					<p:commandButton value="associar" icon="ui-icon-arrowrefresh-1-e"
						action="#{alimentoBean.associar}" process="@form:table_alimento"
						update="@form" style="width:100%">
						<f:setPropertyActionListener value="#{alimento}"
							target="#{alimentoBean.alimentoSelecionado}" />
					</p:commandButton>
				</p:column>
				<p:column headerText="Alterar" style="width : 10%">
					<p:commandButton value="alterar" icon="ui-icon-refresh"
						action="#{alimentoBean.editar}" process="@form:table_alimento"
						update="@form" style="width:100%">
						<f:setPropertyActionListener target="#{alimentoBean.alimento}"
							value="#{alimento}" />
					</p:commandButton>
				</p:column>
				<p:column headerText="Excluir" style="width : 10%">
					<p:commandButton value="excluir" icon="ui-icon-close"
						title="Excluir" action="#{alimentoBean.excluir}"
						process="@form:table_alimento" update="@form" style="width:100%">
						<f:setPropertyActionListener value="#{alimento}"
							target="#{alimentoBean.alimentoSelecionado}" />

						<p:confirm header="Exclusão de Alimento"
							message="Tem certeza que deseja excluir o alimento?"
							icon="ui-icon-alert">
						</p:confirm>

					</p:commandButton>
				</p:column>
				<f:facet name="footer">
					<h:outputLabel value="#{alimentoBean.qtdAlimentos}" /> alimentos cadastrados</f:facet>
			</p:dataTable>
			<p:confirmDialog global="true">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Nao" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

		</h:form>
		<br />
	</ui:define>
</ui:composition>