<ui:composition template="/WEB-INF/template/novotemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<!-- 	<ui:define name="titulo">Cadastrar Nutriente</ui:define> -->
	<ui:define name="conteudo">
		<h:form style="margin-left:6px; margin-right:6px;">

			<h:inputHidden value="{nutrienteBean.nutriente.id}" />
			<h1>Novo Nutriente</h1>
			<p:toolbar style="margin-top:20px">
				<p:toolbarGroup>
					<p:button value="Novo" />
					<p:commandButton value="Cadastrar" update="@form"
						action="#{nutrienteBean.salvar}" process="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Cancelar" outcome="/restrito/index" />

					<p:separator />

					<p:button value="Pesquisa"
						outcome="/admin/nutriente/PesquisarNutriente" />
				</p:toolbarGroup>
			</p:toolbar>


			<br />



			<h:panelGrid columns="2">
				<p:outputLabel value="Nutriente" for="nome" />
				<p:inputText id="nome" value="#{nutrienteBean.nutriente.nome}"
					required="true"
					requiredMessage="É necessário informar o nome do nutriente que deseja cadastrar." />


				<p:outputLabel value="Codigo" for="codigo" />
				<p:inputText id="codigo" value="#{nutrienteBean.nutriente.codigo}"
					required="true"
					requiredMessage="É necessário informar o código do nutriente" />
			</h:panelGrid>
			<p:messages />
		</h:form>
		<br />
	</ui:define>
</ui:composition>